.App {
  text-align: center;
}

.queue-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: #cde2f7;
}

.title {
  font-size: 40px;
  margin-top: 80px;
}

label {
  font-size: 25px;
  margin-right: 10px;
  border-radius: 5px;
}

.input-container {
  height: 30px;
  width: 30px;
  padding: 10px;
  background-color: white;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.enqueue-button,
.dequeue-button,
.front-button,
.alert-button,
.clear-button {
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

.enqueue-button {
  background-color: #4caf50;
  color: white;
}

.dequeue-button {
  background-color: #f44336;
  color: white;
}

.front-button,
.alert-button,
.clear-button {
  background-color: #2196f3;
  color: white;
}
.enqueue-button[disabled],
.dequeue-button[disabled],
.front-button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.queue-container {
  background-color: white;
  padding: 20px;
}
.display-queue {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: 20px;
  border-top: 2px solid green;
  border-bottom: 2px solid green;
}

.display-queue ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.display-queue li {
  font-size: 28px;
  margin-bottom: 5px;
  padding: 10px;
  margin: 10px;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  background-color: #a3fc9d;
  border-radius: 5px;
  margin: 10px;
}
